.Header {
  font-size: larger;
  color: black;
  text-align: center;
  text-decoration: none;
}

.Header a{
  text-decoration: none;
  color: black;
  font-style: italic;
}

body {
  text-align: center;
}

.video{
  margin: auto;
  width: 100%;
  
}