@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

.Header {
  font-size: larger;
  color: Black;
  text-align: center;
  text-decoration: none;
}

.Header a {
  text-decoration: none;
  color: lime;
  font-family: "Inconsolata";
  letter-spacing: 5px;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

body {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(https://images4.alphacoders.com/270/27094.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: scroll;
  position: relative;
  padding-bottom: 100px;
  color: rgb(255, 255, 255);
  font-family: "Inconsolata";
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

.Matrix-Header{
  font-family: "Fira Code", monospace;
  color: limegreen;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4.5s steps(40, end);
  animation-direction: alternate;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

.Matrix-Comment{
  font-family: "Fira Code", monospace;
  color: limegreen;
  animation-direction: alternate;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

.Blue-Btn {
  background-color: blue;
  color: white;
  border: solid 3px black;
  border-radius: 50px;
  margin: 30px;
  font-size: 18px;
  padding: 30px 20px 40px 20px;
}

.Red-Btn {
  background-color: red;
  color: white;
  border: solid 3px black;
  border-radius: 50px;
  margin: 30px;
  font-size: 18px;
  padding: 30px 20px 40px 20px;
}

.video {
  position: relative;
  margin: 0 auto;
  width: 600px !important;
}

.Form-Box {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: limegreen;
  border-width: 10px;
  margin: 20px 70px 20px 70px;
}

#user {
  font-family: "Inconsolata";
}

#comment {
  margin-top: 10px;
  font-family: "Inconsolata";
  height: 30px;
}

.User-Feed {
  font-family: "Fira Code", monospace;
  color: rgb(0, 85, 0);
  margin-bottom: 0px;
}

.User-Name {
  margin-top: 0px;
  font-family: "Fira Code", monospace;
}

.User-Comment {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  margin: auto;
  margin-bottom: 20px;
  animation: typing 4.5s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.Form {
  text-align: center;
  width: 500px;
  max-width: 500px;
  margin: 20px auto;
  font-family: "Inconsolata";
}

.Comment-Box {
  margin: 20px 70px 20px 70px;
  padding: 20px;
  border: solid 5px limegreen;
  color: limegreen;
  background-color: black;
  font-family: "Inconsolata";
  text-align: center;
}

nav {
  margin-top: 20%;
  color: whitesmoke;
  font-family: "Inconsolata";
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

.Footer {
  color: whitesmoke;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100vw;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}



@media only screen and (max-width: 475px) {
  body {
    width: 100%;
  }

  .video {
    margin: 0 auto;
    width: 50%;
  }

  .Matrix-Header{
    font-size: 20px;
  }
}
